[2013-02-14 22:10] iangilman opened #1 "Get the docs building"

[2013-02-14 22:11] iangilman opened #2 "Less redundancy on each page"
The current site has a lot of the same content on each page, which is confusing. Let's organize this better.

[2013-02-15 19:55] iangilman opened #3 "Clear out openseadragon.github.com before build"
... leaving only the readme

[2013-02-26 18:55] #1 closed, assigned to nobody

[2013-02-27 19:57] iangilman opened #4 "Build improvements"
- [x] Pull version number out of openseadragon.js, so we don't have multiple copies of that variable (currently stored in build.properties).
- [x] Switch to Grunt so we're all using the same system?

[2013-03-07 17:41] iangilman opened #5 "Create a "so you're migrating from Seadragon Ajax" page"
We seem to be getting a bunch of interest from people who are already using Seadragon Ajax and they want to upgrade to OpenSeadragon. We should give them a page with clear instructions highlighting the differences and showing them how to quickly make the change.

@thatcher you know better than I what these differences are, so maybe you could start this? If you want I'm happy to finish it up and ge

[2013-03-11 18:56] iangilman opened #6 "Add list of sites that use our tech"
... to our website

[2013-03-11 18:57] iangilman opened #7 "Add twitter handle to our site"

[2013-03-18 18:09] iangilman opened #8 "Better handling of jsdoc in our build process"
I almost have the new Grunt-based build working in the site-build repository, and will be checking it in shortly. Everything's moved over to Grunt vernacular, except jsdoc; with that I just punted and am using Ant to build it. Hopefully we can address this in the future.

I tried using https://github.com/krampstudio/grunt-jsdoc-plugin, but I couldn't get it to work (I can post the command line err

[2013-03-18 18:41] #4 closed, assigned to iangilman

[2013-03-18 18:42] #3 closed, assigned to iangilman

[2013-04-18 18:26] iangilman opened #12 "Some of our code samples scroll horizontally"
Edit them so they are less wide.

[2013-04-18 18:27] iangilman opened #13 "Site footer"
Just something small and consistent across the site. Should contain the same nav links that are up at the top.

[2013-04-19 16:15] #2 closed, assigned to nobody

[2013-04-22 16:49] #12 closed, assigned to nobody

[2013-04-22 16:49] #13 closed, assigned to nobody

[2013-04-30 16:58] iangilman opened #16 "Favicon"
Presumably based on the logo we're using for the Twitter account.

[2013-05-09 18:12] iangilman opened #17 ""getting started" page"
Here's a start:

http://stackoverflow.com/questions/16451256/how-do-i-get-started-using-openseadragon

[2013-05-09 18:18] iangilman opened #18 ""How to create an OpenSeadragon image" page"
Some possible leads here: https://github.com/iangilman/zooming but I'm sure there are others.

[2013-05-09 18:34] iangilman opened #19 "Link to changelog.txt from releases page"
http://openseadragon.github.io/changelog.txt

[2013-07-30 16:18] iangilman opened #24 "Should have a page explaining the coordinate system"
It's a little unusual, and a point of confusion for folks.

[2013-08-20 18:14] iangilman opened #25 "Rotation example page"
Now that @robhobbes's https://github.com/openseadragon/openseadragon/pull/185 has landed, we should add an example page for the rotation feature.

[2013-08-20 20:21] iangilman opened #26 "Directory of OpenSeadragon plugins"
@dgutman has a plugin. Surely there will be more.

[2013-09-06 18:40] iangilman opened #27 "Update info on using zoom.it tiles"
From @aseemk, one of the original authors of zoom.it:

https://twitter.com/aseemk/status/374011428581036032

The info needs to be added to:

https://github.com/openseadragon/site-build/blob/master/www/tilesource-zoomit.html

[2013-09-16 22:47] #19 closed, assigned to nobody

[2013-09-16 22:50] #7 closed, assigned to nobody

[2013-09-16 23:11] #26 closed, assigned to nobody

[2013-09-27 16:37] iangilman opened #28 "General page on the technology and history of OpenSeadragon"
Including things like:
- https://en.wikipedia.org/wiki/Deep_Zoom
- http://msdn.microsoft.com/en-us/library/cc645077%28VS.95%29.aspx
- http://dragonosticism.wordpress.com/2009/10/18/seadragon-philosophy-the-user-never-waits/
- http://dragonosticism.wordpress.com/2009/12/28/seadragon-philosophy-the-user-is-never-lost/
- http://www.quora.com/Microsoft-Seadragon/What-is-Seadragon-used-for-and-how-does

[2013-10-04 17:53] iangilman opened #29 "Mention the IIIF 1.1 TileSource on our IIIF page"
http://openseadragon.github.io/examples/tilesource-iiif/

@jpstroop can you do this?

[2013-12-03 17:19] #8 closed, assigned to nobody

[2013-12-03 17:23] iangilman opened #36 "Redirect for EventHandler"
@msalsbery, just a quick follow-up to #33: could you add one more redirect, so `/docs/symbols/OpenSeadragon.EventHandler.html` redirects to `/docs/OpenSeadragon.EventSource.html`?

[2013-12-04 18:49] #36 closed, assigned to nobody

[2013-12-04 21:31] #29 closed, assigned to nobody

[2013-12-11 18:55] #17 closed, assigned to nobody

[2013-12-11 18:56] #18 closed, assigned to nobody

[2014-01-10 21:10] msalsbery opened #44 "Binding custom buttons feature needs documentation"
The [binding custom buttons](http://openseadragon.github.io/examples/ui-binding-custom-buttons/) feature needs to be added to the [OpenSeadragon.Options](http://openseadragon.github.io/docs/OpenSeadragon.html#Options) docs.

Also, the [related demo](http://openseadragon.github.io/examples/ui-binding-custom-buttons/) needs updating for OpenSeadragon 1.0.0 which eliminated the onPageChange callback.

[2014-01-19 00:02] mdjasper opened #45 "Getting started or FAQ"
I've received a bit of help implementing OpenSeadragon by asking questions here on GitHub -- and it dawned on me that perhaps there could be some extension to the getting started page, or frequently asked questions page for first-time users like myself.  I've cloned down the site-build repo to make some changes myself, but I don't want step on anyone's toes. Would this sort of contribution be welc

[2014-04-30 16:59] iangilman opened #51 "Automatically bump Bower version via Grunt"
As mentioned in #50 with @patrickheck.

[2014-04-30 17:22] avandecreme opened #52 "TMS example down"
http://openseadragon.github.io/examples/tilesource-tms/

I couldn't find whether osgeo moved or deleted the files.

[2014-04-30 18:05] #51 closed, assigned to iangilman

[2014-05-01 16:56] iangilman opened #53 "Register our new Bower"
...though I'd still like to figure out what to do about the old one.

[2014-05-01 16:57] iangilman opened #54 "Mention our Bower support on the website"

[2014-05-02 19:44] #52 closed, assigned to nobody

[2014-05-14 16:20] #53 closed, assigned to nobody

[2014-11-07 17:34] iangilman opened #59 "Mention Angular module, etc. on website"
Maybe in the "download" section?

https://github.com/openseadragon/openseadragon/issues/370#issuecomment-62136283

[2014-11-07 17:35] #54 closed, assigned to nobody

[2015-01-07 17:37] iangilman commented on #6
http://alexbartl.de/alex/panorama.html

[2015-01-14 17:09] iangilman opened #63 "Keyboard example doesn't focus on viewer"
On https://openseadragon.github.io/examples/ui-keyboard-navigation/ it's trying to focus on the viewer (with `document.getElementById('contentDiv').focus();`), but it doesn't actually work (at least not on Mac Firefox or Chrome). Perhaps we need to do it to a different element?

[2015-01-14 17:10] iangilman commented on #63
@macarthy was that change working for you?

[2015-01-14 17:20] iangilman commented on #63
Perhaps it should be `document.querySelectorAll('#contentDiv .keyboard-command-area').focus();`?

[2015-01-15 17:04] sdellis commented on #25
I'm having trouble implementing rotation and would love to see an example if this is possible.  Is the rotation data supposed to be included as a property for each object in [the tileSources array shown here](http://openseadragon.github.io/examples/tilesource-iiif/)?

[2015-01-15 17:40] robhobbes commented on #25
Rotation data should'nt need to be included. All you should need to do to rotate is to call ```setRotation(degrees)``` on the viewport object.

[2015-01-15 17:57] sdellis commented on #25
Thanks for the reply @robhobbes .  Yes, that's what I'm doing, but when I do that the image gets cropped within the viewport.  [Here's an example](http://libphp-prod.princeton.edu/versailles/item/875) of what I'm talking about.

[2015-01-15 19:02] robhobbes commented on #25
@sdellis Hmmm. I suppose that it is likely a bug. I haven't touched the code in over a year and I'm not really in a place to work on it at this point in my life.

[2015-01-15 21:32] sdellis commented on #25
I'm happy to look into it and can submit a fix.  I imagine that when rotated 90 or 270 we just need to swap the height and width of the image wherever it gets drawn.  @iangilman Should I create a new issue for this?

[2015-01-16 17:43] iangilman commented on #25
Interesting! Yes, please create an issue in the OpenSeadragon repository. It would be great if you could look into it as well. :-)

[2015-01-17 01:37] msalsbery commented on #63
@iangilman  I'll take this one!

[2015-01-17 01:45] iangilman commented on #63
:+1:

[2015-01-17 03:57] macarthy commented on #63
+1 thanks been swamped

from mobile
On Jan 17, 2015 8:45 AM, "Ian Gilman" <notifications@github.com> wrote:

[2015-01-20 18:03] msalsbery commented on #63
Fixed by #65

[2015-01-23 17:58] iangilman opened #66 "Add link to file format on "Creating" page"
...for people who want to write their own generator.

I figure this is the link to use:

https://msdn.microsoft.com/en-us/library/cc645077%28v=vs.95%29.aspx

[2015-02-28 08:26] MartinPluta commented on #6
http://www.zoosphere.net
http://www.zoosphere.net/sequence/3

[2015-03-24 16:06] iangilman commented on #59
Also this Ruby gem:

https://rubygems.org/gems/openseadragon

[2015-03-24 16:32] iangilman commented on #59
And:

https://pypi.python.org/pypi/django-deepzoom/2.0

[2015-03-30 22:25] iangilman commented on #6
http://zoomable.ca/

[2015-04-02 16:50] iangilman commented on #6
http://annotorious.github.io/demos/openseadragon-preview.html

[2015-04-07 16:17] iangilman commented on #6
http://nladom-test.nla.gov.au/nla.obj-41292842/view from @terenceingram

[2015-04-10 11:34] jorntx commented on #6
The Danish Newspaper Online Archive - partial public access:

http://www2.statsbiblioteket.dk/mediestream/avis/search/horse/allowedonly/true?locale=en

[2015-04-21 00:28] iangilman commented on #59
https://github.com/islandora/islandora_openseadragon

[2015-04-21 17:51] iangilman commented on #59
https://github.com/dpla/omeka-OpenSeadragon

[2015-04-21 20:18] #6 closed

[2015-04-21 20:22] iangilman commented on #6
Believe it or not, after years of anticipation, I've finally made this page!

http://openseadragon.github.io/examples/in-the-wild/

Thanks again to everyone who contributed! Keep the suggestions coming; they'll be much easier to add now that we have a real page.

[2015-04-21 20:43] avandecreme commented on #6
Nice!

[2015-04-21 20:45] acdha commented on #6
@iangilman That looks great – looking forward to seeing the list keep growing!

[2015-04-28 18:03] iangilman commented on #59
https://github.com/vanda/deepzoom-images

[2015-05-26 23:11] #24 closed

[2015-06-16 15:28] gechols commented on #6
FamilySearch - the world's leading genealogical research site - uses OSD as the image viewer for the vast range of its historical records.

https://familysearch.org/pal:/MM9.3.1/TH-1942-27779-1718-28?cc=2000219

[2015-06-16 16:35] iangilman commented on #6
@gechols Awesome, thank you! Added to the "History" section:

http://openseadragon.github.io/examples/in-the-wild/

[2015-07-28 16:31] iangilman opened #76 "Mention tileWidth/tileHeight on custom tile source example"
I think many folks will still want to stick with tileSize, but we should mention that tileWidth/tileHeight is also an option on:

http://openseadragon.github.io/examples/tilesource-custom/

@connerman would you care to take a whack at this?

Note: we won't deploy until the new code is released.

[2015-09-06 16:57] iangilman opened #84 "add owlstand to "in the wild""
Main page: http://www.owlstand.com/

Example: http://www.owlstand.com/exhibition/room/9e83a1f3-2b6c-4ac2-bd1d-36b03871d0b4 (or whatever you like)

@TMUND  care to take this? :-)

[2015-09-08 02:38] TMUND commented on #84
Will do :)

[2015-09-08 02:40] TMUND commented on #84
Oooh multi-image demo :D

[2015-09-09 18:39] iangilman commented on #84
Fixed by #85

[2015-09-09 18:39] #84 closed

[2015-10-15 08:36] MindFreeze commented on #26
New plugin: https://github.com/picturae/openseadragonselection
This could be used for cropping. I will be using it to provide coordinates for external cropping.
It is still a work in progress.

[2015-10-15 16:23] iangilman commented on #26
@MindFreeze Cool! Are you ready to share it more widely? If so, can you make a pull request to add it into the front page?

https://github.com/openseadragon/site-build/blob/master/www/index.html#L146

[2015-10-22 09:49] perog opened #93 "Add The Human Protein Atlas to "in the wild""
The Human Protein Atlas version 14 now includes a mouse brain viewer based on openseadragon.

Main site:
http://www.proteinatlas.org/

Example:
http://www.proteinatlas.org/ENSG00000213463-SYNJ2BP/tissue/mouse+brain

[2015-10-22 11:41] macarthy opened #94 "rename site-build to openseadragon-site-build for clarity"
Can we rename site-build to openseadragon-site-build for clarity ?

Its a small thing but better.

[2015-10-22 16:03] iangilman commented on #93
@perog Very cool!

@TMUND Can you add this?

[2015-10-22 16:11] iangilman commented on #94
Hmm...I'll give it some thought. I kind of like not having everything prefixed with openseadragon. I realize the concept of this repository is a little confusing. I'm not sure changing the name would help all that much though.

[2015-10-22 16:42] msalsbery commented on #93
@perog Nice thanks!

[2015-10-26 16:09] iangilman commented on #93
Fixed by #96

[2015-10-26 16:09] #93 closed

[2015-10-26 16:13] iangilman commented on #93
...and published: http://openseadragon.github.io/examples/in-the-wild/

[2015-10-27 16:44] iangilman opened #97 "Add info about our browser extension"
https://github.com/openseadragon/browser-extension

cc @avandecreme

[2015-10-30 08:25] MindFreeze commented on #26
New one: https://github.com/picturae/openseadragonrgb
Pull request to site-build submitted.

[2015-11-09 18:47] iangilman opened #102 "New feature: image zoom page"
Similar to the [browser extension](https://github.com/openseadragon/browser-extension), but set up as a webpage (for people who don't have the extension installed).

Usecase: You run across an image like:

http://orig00.deviantart.net/505e/f/2015/294/8/e/exoplanets_by_jaysimons-d9dv6th.jpg

...and you want to share an OpenSeadragon-ified version on Twitter or something.

cc: @avandecreme

[2015-11-09 18:50] iangilman commented on #102
Note that this is similar to http://zoom.it/ but without the server side component (so it's better for images under, say, 10,000px wide).

cc: @aseemk @gasi @kenperkins @nein09

[2015-11-09 18:51] avandecreme commented on #102
Yup, I actually had that in mind when building the extension, so it is already supported by the code in the [common directory](https://github.com/openseadragon/browser-extension/tree/master/common).
I should probably rename visualization.html to index.html though.

[2015-11-11 18:13] iangilman commented on #102
@avandecreme Cool...so maybe all that needs to happen is setting up browser-extension to publish via gh-pages (and renaming that file)? It'll show up at http://openseadragon.github.io/browser-extension/common/.

I guess the other nice thing would be to provide another page that provides an easy UI to enter a URL.

[2015-11-11 18:30] avandecreme commented on #102
Possibly, that could be the same page to provide the URL.
If no image is provided in the URL, we would display an input text to enter one.
What do you prefer?

Also, maybe we should remove browser-extension from the URL. Maybe http://openseadragon.github.io/openseadragonizer ?

[2015-11-11 18:40] iangilman commented on #102
Changing the URL like that would require changing the name of the repository, which is certainly something we could do.

I'm fine with the same page providing UI if no URL is provided. I think I'd want the UI to look like it's part of the rest of the OpenSeadragon site. I suppose having that code on the page might make it heavier for the "url provided" use case. Also, if we host that UI in the bro

[2015-11-11 19:30] avandecreme commented on #102
I think we could also create an openseadragonizer folder inside the openseadragon.github.com repository which would contains the content of browser-extension/common.

There isn't much place for styling in openseadragonizer because the viewer is taking the entire body area. Maybe having the URL input text as a popup reusing the same CSS than the website is enough?

[2015-11-11 23:11] avandecreme commented on #102
I created a PR with that last idea: https://github.com/openseadragon/browser-extension/pull/12
This is still open for discussion, it just seems easier to code than to explain :)
And of course, I am a very bad designer so if you have any suggestions...

[2015-11-12 19:49] iangilman commented on #102
Yeah, I guess now that you mention it, we can go minimal like that.

I'm hesitant to add a publish step where we copy from browser-extension to the openseadragon.github.com repository...seems cleaner to keep it fully separate. On the other hand, the advantage would be we could be more selective about what we publish out of browser-extension, and we could include additional build steps if needed. I

[2015-11-12 20:45] avandecreme commented on #102
Excellent :)

Yup, if scripts from both browser-extension and site-build mess with openseadragon.github.com I can easily see how they could badly interact with each other.

I also prefer to have a url looking like http://openseadragon.github.io/openseadragonizer rather than http://openseadragon.github.io/browser-extension/common/

An other option would be to deploy from browser-extension to site-b

[2015-11-12 22:04] iangilman opened #105 "Complex HTML overlay demo zooming issue"
Once you zoom in, you can't zoom out anymore.

http://openseadragon.github.io/examples/ui-overlays/

[2015-11-13 22:24] iangilman commented on #102
Well, let's try adding a `grunt publish` command for browser-extension that goes into ../openseadragon/github.com/openseadragonizer/ and see how we like it.

[2015-11-13 22:31] #25 closed

[2015-11-16 17:37] #105 closed

[2015-11-24 17:07] #97 closed

[2015-11-24 17:12] #102 closed

[2015-12-02 17:24] iangilman opened #110 "Add npm to our download section"
...somewhere near Bower.

[2015-12-02 17:25] iangilman commented on #110
@TMUND Can you take a look?

[2015-12-03 04:21] TMUND commented on #110
[Here you go :)](https://github.com/openseadragon/site-build/pull/111)

[2015-12-03 17:21] #110 closed

[2016-01-08 21:19] iangilman opened #117 "In the wild: New York Public Library"
Here's a recent announcement:

http://www.nypl.org/blog/2016/01/05/share-public-domain-collections

A lot of the content is done with OpenSeadragon. Of course we need to find a good example.

[2016-01-08 21:21] iangilman opened #118 "In the wild: installations"
Might be nice to have a section for places OpenSeadragon is used in installations (only available in person, not on the web). For instance:

https://twitter.com/MarinDaddy/status/685556928726962176

[2016-01-12 03:11] TMUND commented on #117
Here are a couple I like, what do you think?

http://digitalcollections.nypl.org/items/510d47e0-2be9-a3d9-e040-e00a18064a99

http://digitalcollections.nypl.org/items/8c108420-d56d-0131-4a50-58d385a7bbd0

There are a lot of galleries that are scroll wheel zoomable but some of the collections are just one click zoom unfortunately...let me know if you find something else that strikes your fancy or if

[2016-01-12 17:23] iangilman commented on #117
Lighthouse please! :)

[2016-01-13 00:32] iangilman commented on #59
http://altert.net/demo/

[2016-01-13 17:25] #117 closed

[2016-01-30 17:59] TMUND commented on #118
Any idea where you'd like to add this section. Also, how do we know when an installation no longer exists/isn't using OpenSeadragon? Do we know if there is more than one place using OSD on location?

[2016-01-31 06:11] iangilman commented on #118
I'm thinking make a new section at the bottom of the "in the wild" page. I think it's fine if installation listings go out of date, as it's still a record of where they had been (though of course if someone alerts us we can certainly remove them as needed).

If I recall correctly, @crswll is responsible for some installations as well; perhaps he can fill us in on those. Also, maybe once we get the

[2016-01-31 22:20] crswll commented on #118
We currently have one installation active using OpenSeadragon as far as I know. It's at The Wadsworth museum.

Here's the only thing they seem to mention on the site about it:
https://thewadsworth.org/event/art-curiosity-cabinets-historical-contemporary-perspectives/

And here's a mention of the renovation that also mentions the interactive:
http://hyperallergic.com/237531/a-worthy-renovation-for-

[2016-02-01 22:22] iangilman commented on #118
@crswll Awesome, thank you!

[2016-02-22 19:01] iangilman commented on #118
Closed by #125.

@crswll It's at the bottom of:

http://openseadragon.github.io/examples/in-the-wild/

Can you verify we have the right info? And of course keep us posted in the future!

[2016-02-22 19:01] #118 closed

[2016-03-09 17:16] iangilman opened #128 "Add http://pinacotecabrera.org/ to "in the wild""
http://pinacotecabrera.org/

Find a good example, like this:

http://pinacotecabrera.org/collezione-online/opere/madonna-col-bambino-madonna-della-mela/

...but with a deeper zoom and add it to:

https://github.com/openseadragon/site-build/blob/master/www/in-the-wild.html

[2016-04-27 17:43] iangilman opened #133 "Add https://www.karinatwiss.com/ to "in the wild""
@mistymadonna :)

[2016-05-12 18:52] iangilman opened #135 "Add http://infoforest.vis.uky.edu to "in the wild""

[2016-05-20 16:28] iangilman commented on #59
http://scalar.usc.edu/works/guide/creating-and-importing-tiled-images

[2016-05-26 22:33] #16 closed

[2016-05-26 23:15] avandecreme opened #137 "Misplaced arrow in overlays example"
In fixed size overlay: http://openseadragon.github.io/examples/ui-overlays/

Looks like placement is top left instead of right.

[2016-05-27 16:20] iangilman commented on #137
Interesting... on Mac Firefox the tip of the arrow is solidly attached to the statue's hand no matter how you zoom. On Mac Chrome it's maybe 10px (screen pixels) below the hand no matter how you zoom.

What browser are you trying it on? Are you seeing what I'm seeing or something else?

 Seems like it might be an issue with the actual overlay code?

[2016-05-27 20:06] avandecreme commented on #137
It actually looks like it is a cache issue.
After clearing it, the arrow is correctly aligned.

[2016-06-29 21:13] iangilman commented on #128
@1gb Perhaps you could take this?

[2016-07-20 04:15] iangilman opened #141 "more "in the wild""
http://www.romaierioggi.it/nuova-pianta-di-roma-moderna-monaldini-1843/

[2016-07-27 18:25] chris-engberg opened #142 "Broken link on openseadragon.github.io/docs/"
On: http://openseadragon.github.io/docs/

The link for OpenSeadragon() in paragraph 1 is currently:
http://openseadragon.github.io/docs/module-OpenSeadragon.html
leading to a 404

Should be:
http://openseadragon.github.io/docs/#module-OpenSeadragon.html

[2016-07-27 20:05] avandecreme commented on #142
Thanks for catching this.
Actually I removed the module so it should link to the namespace I think: http://openseadragon.github.io/docs/OpenSeadragon.html
However, the `OpenSeadragon` function is not documented (anymore?) anywhere.
Maybe adding a `@namespace OpenSeadragon` here would add that method in the doc: https://github.com/openseadragon/openseadragon/blob/master/src/openseadragon.js#L684 ?

[2016-07-28 16:46] #142 closed

[2016-07-28 16:51] iangilman commented on #142
The shortcut is documented in the entry for the constructor:

http://openseadragon.github.io/docs/OpenSeadragon.Viewer.html#Viewer

I've updated the docs to point there (and also to mention that there are two ways to do it):

http://openseadragon.github.io/docs/

@chris-engberg Thanks again for spotting this!

@avandecreme I'd certainly be up for trying the `@namespace OpenSeadragon` if you want t

[2016-07-29 16:58] iangilman opened #145 "TMS demo is broken"
http://openseadragon.github.io/examples/tilesource-tms/

Looks like the data we're using has gone offline... I imagine that the code is still fine; we just need to find a new tile source.

[2016-08-02 16:30] iangilman commented on #141
http://maxotics.com/2016/08/01/4x5-digital-back-part-iv/

[2016-08-02 16:33] iangilman commented on #141
Saving these here until someone gets around to adding them to http://openseadragon.github.io/examples/in-the-wild/

[2016-08-23 22:56] iangilman commented on #141
http://boschproject.org/book_links.html

[2016-08-25 22:32] iangilman commented on #128
Fixed by #147

[2016-08-25 22:32] #128 closed

[2016-08-25 22:32] iangilman commented on #133
Fixed by #147

[2016-08-25 22:32] #133 closed

[2016-08-25 22:32] iangilman commented on #135
Fixed by #147

[2016-08-25 22:32] #135 closed

[2016-08-25 22:32] iangilman commented on #141
Fixed by #147

[2016-08-25 22:32] #141 closed

[2016-08-29 17:50] iangilman opened #148 "Create example page for Zoomify tile source"
...and link it from the front page of course.

I suppose to do this we'll need a nice image in Zoomify format. @foobarable any thoughts on where to get such a thing?

[2016-08-29 17:51] iangilman opened #149 "Add Zoomify options to "Creating Zooming Images""
@foobarable What are the tools people use to create Zoomify tiles?

[2016-08-30 08:15] foobarable commented on #148
I could provide you with images like that:

https://gp3.mpg.de/viewer

Or, if you have an image of your choice, I can zoomify (no pun intended) it.

[2016-08-31 16:30] iangilman opened #150 "More "In the Wild""
http://feistyphoton.org with example http://feistyphoton.org/project/carinatour/ should go in Scientific.

[2016-08-31 16:30] iangilman commented on #150
@1gb! :)

[2016-08-31 16:50] iangilman commented on #148
Nice! While cool, I'm concerned those images might creep some people out.

I guess we could zoomify the cathedral photo from the OSD front page. Send me an email at ian@iangilman.com and we can pass files back and forth. Thank you for helping with this!

[2016-09-06 16:21] iangilman commented on #150
Closed by #151

[2016-09-06 16:21] #150 closed

[2016-09-06 16:59] iangilman opened #152 "Add WebGL plugin to plugins list"
https://twitter.com/openseadragon/status/773203752283017216

[2016-09-11 23:15] rmcloughlin opened #156 "MicroDraw links are dead"
The two links related to MicroDraw on the "in the wild" page are dead.  See #155 for the fix.

[2016-09-13 14:52] #156 closed

[2016-10-05 23:37] TMUND opened #158 "Overlay for zoomable image on front page to prevent scroll interruption"
Hello :)

I've come to realize that every time I go to the main page, as I start to scroll down I almost invariably end up zooming the Duomo image accidentally. It's a minor thing but some sort of overlay could help facilitate that scroll flow a little better; what do you think?

[2016-10-06 18:59] avandecreme commented on #158
Hello!
Could you explain how that would work?

[2016-10-06 19:31] TMUND commented on #158
Sure, I was imagining a slightly opaque overlay with a message that says something along the lines of "click to reveal/play with demo". That way those who are familiar with OSD could just keep scrolling over the demo and the first time users would have an easy way to activate it.

Does that make sense?

[2016-10-06 19:45] avandecreme commented on #158
Ha got it. I am neither in favor or against such a thing. Let's wait for @iangilman thoughts :)

[2016-10-06 19:52] TMUND commented on #158
As I said, it's a fairly minor thing but every time I visit the page I have a little D'oh moment when I zoom in accidentally while scrolling :)

[2016-10-10 22:13] iangilman commented on #158
Hello! Excellent point. This is a usability issue other sites have with OSD as well, depending on their page structure. I figure this is an opportunity for us to come up with some sort of best practice.

Given that, I'm not excited about the "click to begin zooming" solution, since I don't want that to become the new standard.

Here's another thought: how about if we try to add some intelligence t

[2016-10-11 23:19] TMUND commented on #158
@iangilman could you point me to where this code would live? I can experiment with your suggestion when I get some free time :)

[2016-10-12 16:36] iangilman commented on #158
Sounds great! The code for that image is right here:

https://github.com/openseadragon/site-build/blob/master/www/index.html#L16-L23

...I figure you can just expand on that.

[2016-10-27 16:34] iangilman opened #159 "More "In the Wild""
http://clarksullivan.com/cams/ritz/

[2016-12-06 17:28] iangilman opened #162 "Add server options to "Creating" page"
In addition to listing tools that create zoomable images, we should add a list of servers that can serve zoomable images, including:

* http://iipimage.sourceforge.net/
* https://medusa-project.github.io/cantaloupe/

...to this page:

http://openseadragon.github.io/examples/creating-zooming-images/

[2016-12-09 18:53] iangilman opened #163 "Add iOS library to site somehow"
Some people might find this useful:

https://github.com/dblock/ARTiledImageView

Also if there's an Android library that does similar?

[2016-12-21 23:44] adgoncal opened #165 "Minified file is missing version"
[code]

https://github.com/openseadragon/site-build/blob/v2.2.1/built-openseadragon/openseadragon/openseadragon.min.js

[2016-12-21 23:46] adgoncal commented on #165
It is missing version in 2.2.0 also.
2.1.0 is fine.

[2016-12-22 17:52] iangilman commented on #165
@adgoncal Good catch!

Looks like it happened here, since we're no longer uglifying the concatted version (which is where the `process` flag fills in the grunt template bits).

https://github.com/openseadragon/openseadragon/commit/44343610336c952a081ff21e5183c2758efc2a38

That's part of https://github.com/openseadragon/openseadragon/pull/831 by @avandecreme. In the discussion there, it sounds like

[2016-12-23 09:08] avandecreme commented on #165
Ha yes sorry for having broken that. It was already reported in https://github.com/openseadragon/openseadragon/issues/1024
I will make sure to fix that for the next release.

[2016-12-28 18:16] iangilman commented on #165
@avandecreme Excellent, thank you!

[2016-12-28 18:17] iangilman commented on #165
I guess we can close this as a duplicate of the other bug. @adgoncal thank you for filing this, though, to remind us!

[2016-12-28 18:17] #165 closed

[2016-12-30 17:41] iangilman commented on #159
http://www.skyimd.com/apple-campus-2-high-resolution-aerial-mosaic-zoom/

[2016-12-30 17:48] lensupthere commented on #159
cool.  feel free to contact us via email - mestigoy@skyimd.com.  We are planning to add more huge aerial mosiacs with zooming on our site in 2017.

[2016-12-30 17:53] lensupthere commented on #159
Cool.  Free free to contact us directly if you see other examples you'd like to add. We will be adding more Huge Aerial Mosaics with zooming in 2017.

[2017-01-02 17:30] iangilman commented on #159
Excellent... sounds lovely!

[2017-01-16 21:07] adgoncal opened #166 "[bower.json] invalid-meta The "main" field cannot contain minified files"
I just noticed a WARN during bower install:

Bower spec: https://github.com/bower/spec/blob/master/json.md#main

Reading the spec I am not sure whether the source map file should be there.

Discussion of the spec for _main_: https://github.com/bower/bower/issues/393

[2017-01-17 18:45] iangilman commented on #166
Okay, sounds like it should just be the unminified file and not the map (which is only applicable to the minified file).

    "built-openseadragon/openseadragon/openseadragon.js"

@adgoncal Would you be up for making that change?

[2017-01-19 17:26] #166 closed

[2017-01-23 18:37] iangilman commented on #159
https://www.nytimes.com/interactive/2017/01/20/us/politics/trump-inauguration-photo-zoomer.html

[2017-01-27 03:51] iangilman opened #168 "Add HDMake to "creating" page"
http://research.microsoft.com/en-us/um/redmond/groups/ivm/HDView/HDMake.htm

[2017-01-27 17:45] iangilman commented on #159
https://www.sfmoma.org/

Pick a good image by digging around in https://www.sfmoma.org/search/

[2017-01-27 18:11] lensupthere commented on #159
http://www.skyimd.com/san-francisco-marina-district-fishermans-wharf-high-resolution-zoom-aerial/
We posted this last night.  Working on more.

[2017-01-30 17:53] iangilman commented on #159
Beautiful! Very high res :)

[2017-02-19 18:48] avandecreme opened #170 "404 in "in the wild""
This page does not exist anymore: http://www.186282mps.com/the-muselar.html

[2017-02-20 18:39] iangilman commented on #170
Good spotting! I've asked the photographer about it:

https://twitter.com/iangilman/status/833747517506400256

[2017-03-08 17:35] iangilman commented on #159
http://heatmaps.nimblex.net/

[2017-03-10 17:45] iangilman commented on #59
https://www.mediawiki.org/wiki/Extension:ZoomableImages

[2017-03-17 17:25] iangilman commented on #159
https://gp3.mpg.de/viewer/setInfo/MH454

[2017-04-28 16:43] iangilman commented on #159
https://mapofmetal.com/

[2017-06-02 04:23] iangilman opened #174 "More for "creating" page"
https://packagist.org/packages/daniel-km/zoomify

[2017-06-02 04:25] iangilman commented on #159
http://mcgrawect.princeton.edu/seadragon/

[2017-06-02 05:13] iangilman commented on #159
http://ruebot.net/elxn42.html
http://ruebot.net/panamapapers.html

[2017-06-02 05:19] iangilman commented on #159
https://repository.dri.ie/catalog/5999n7273

[2017-06-02 05:22] iangilman commented on #159
http://collection.nationalmuseum.se/eMuseumPlus?service=ExternalInterface&module=collection&objectId=22802&viewType=detailView#.V_-thaqtNsg.twitter

[2017-06-16 18:13] iangilman opened #175 "Beehive collective poster is down"
http://beehivecollective.org/posterViewer/?poster=mr

@jrochkind is it down for good? I love that thing! It would be sad for it to go away entirely :(

[2017-06-16 21:21] jrochkind commented on #175
Thanks for the kind words! (Although the Beehive Collective gets all credit for the art, I get credit for the technical implementation, along with OSD!)  I loved it too!

I'm afraid I don't know, the beehive collective website (WordPress) got hacked, and they didn't have a good backup, and they're figuring out what to do next.

If you know anyone interested in helping them make a new website for c

[2017-06-16 21:38] jrochkind commented on #175
(Also, I have a new OSD-based project of cool stuff to share, that I'll let you know about when it goes public in a couple months. :)  OSD is pretty great to work with!)

[2017-06-17 14:48] jrochkind commented on #175
The bees say they don't mind if I/we put it up somewhere ourselves, as long as it links back to the still existing beehive web properties (facebook page, web store).

Any interest in collaborating? :)

[2017-06-17 14:52] jrochkind commented on #175
i'm thinking this can be done for free somewhere since it's just static content, maybe github pages, not sure if there's a way to find some free DNS too to give it a nice url.

[2017-06-19 17:11] iangilman commented on #175
Wonderful! Yes, GitHub Pages is probably a great choice. We host all of our sample images that way, for instance.

I don't think I'd even worry about getting a special domain for it, though of course if there's a free way to do that, why not? Otherwise it's more important that it just be up somewhere.

So, how about GitHub Pages on your GitHub account? Something like http://jrochkind.github.io/bee

[2017-06-19 17:49] jrochkind commented on #175
Done. http://jrochkind.github.io/beehive_poster_viewer/

[2017-06-20 16:47] iangilman commented on #175
Beautiful!! I do love this one. Would you be up for fixing the URL in https://github.com/openseadragon/site-build/blob/master/www/in-the-wild.html?

Btw, I'm noticing the mouse wheel zoom isn't as smooth as it is with the newer versions of OSD, and sure enough it looks like you're using version 1.1.1. What would you think about upgrading to the latest?

[2017-06-20 17:23] jrochkind commented on #175
Good idea, an OSD upgrade, yeah. Not sure when I'll get to it. PR's welcome. :)

[2017-06-22 20:37] iangilman commented on #175
Okay! It's a race to see who finds some free time first ;)

Thanks again for getting this back up!

[2017-07-03 00:59] iangilman commented on #59
Looks like this is another Angular option:

https://npmdaily.com/pkg/ng-openseadragon

[2017-07-14 23:12] #148 closed

[2017-07-14 23:14] iangilman commented on #149
Fixed by #171

[2017-07-14 23:14] #149 closed

[2017-07-15 22:53] iangilman commented on #59
For meteor:

https://atmospherejs.com/abarrahjaouad/openseadragon-wrapper

[2017-07-20 18:34] iangilman commented on #159
http://www.ireland.com/features/game-of-thrones-tapestry/

[2017-08-02 17:20] iangilman commented on #159
http://commons.princeton.edu/soviet/

For instance: http://pudl.princeton.edu/viewer.php?obj=n870zt57n#page/2/mode/2up (though we should maybe find a better example)

[2017-09-15 17:14] iangilman commented on #159
http://www.allencell.org/deep-cell-zoom.html

[2017-11-13 19:43] iangilman commented on #28
I've started a page on the DZI format here:

https://github.com/openseadragon/openseadragon/wiki/The-DZI-File-Format

...though I suppose eventually it should end up on the site itself.

[2017-11-16 22:19] iangilman commented on #159
https://lib.msu.edu/branches/map/michigan/

[2017-12-06 23:52] iangilman commented on #159
https://github.com/tokee/juxta from @tokee can go in the tools section, and probably some of the demos listed in https://github.com/tokee/juxta#demos can go in various other places on the page.

[2017-12-07 03:26] kittarlin commented on #159
Working on adding these...

[2017-12-11 17:48] #159 closed

[2017-12-11 17:48] #170 closed

[2017-12-15 22:06] kittarlin commented on #175
The original link at the top of this thread appears to be working again.  At least, I can get there from the link on the In The Wild page...

[2017-12-15 23:02] jrochkind commented on #175
yeah, it is working again at beehivecollective.org at the moment.

[2017-12-16 02:29] kittarlin commented on #175
Great!  @jrochkind  Do you think we should leave the In The Wild page with the link it has (the collective) or would it be more stable long-term to change it to point to your version on GitHub?

[2017-12-16 02:36] kittarlin commented on #66
This is a better link:

https://github.com/openseadragon/openseadragon/wiki/The-DZI-File-Format

Also, it should probably go at the bottom of the page, after the table.  "If none of these options meet your needs, you can create your own tile-generating tool.  See <<link>> for more information the DZI format."

[2017-12-16 02:38] kittarlin commented on #174
This is already included on the Creating page.

[2017-12-16 02:39] kittarlin commented on #27
Zoom.it doesn't exist any more.

[2017-12-16 14:59] jrochkind commented on #175
As long as it is actually working, the beehivecollective.org link is better, they are the ones whose art it actually is.

[2017-12-18 17:21] #174 closed

[2017-12-18 17:21] iangilman opened #178 "TMS Tool for "Creating" page"
http://www.gdal.org/gdal2tiles.html

[2017-12-18 17:32] iangilman commented on #175
Cool... I'm glad to hear it's back up! Also @jrochkind I see you updated the OSD version... nice and smooth now :)

[2017-12-18 17:32] #175 closed

[2017-12-18 17:34] iangilman commented on #27
Indeed. We can resurrect this when ZoomHub has a proper API again. /cc @gasi @aseemk

[2017-12-18 17:34] #27 closed

[2017-12-18 18:47] jrochkind commented on #175
yup, more appropriate display on 'retina' screen too I think.

[2017-12-18 22:12] kittarlin commented on #66
Page update in progress.

[2017-12-18 22:40] kittarlin commented on #168
The above link doesn't appear to be viable.  I've found this one:

https://www.microsoft.com/en-us/research/search/?q=hdmake

But the description is cut off and the file type generated is not obvious.  Do you know if it makes DZIs or something else?

[2017-12-19 17:18] iangilman commented on #175
Indeed! :)

[2017-12-19 17:27] iangilman commented on #168
Looks like maybe this is a better link:

https://www.microsoft.com/en-us/download/details.aspx?id=52341

That's just the 64-bit version, but I think that's all we need today.

The description says:

...so that means it creates DZI.

[2017-12-20 19:13] iangilman opened #180 "Check for and update broken links in "in the wild""
@kittarlin While you're in there you might run through everything and make sure it's all still working.

[2017-12-21 00:33] kittarlin commented on #168
Thanks.  Update in progress.

[2017-12-21 00:49] kittarlin commented on #162
Page update in progress.

[2017-12-21 00:59] kittarlin commented on #180
deepzoom.py is no longer being maintained.  Do you want to keep it in the list?

Node.js Deep Zoom Tools might no longer be under construction.  Should the text be updated?

Otherwise, the links all look ok to me.

[2017-12-21 04:11] kittarlin commented on #180
Sorry, that last list is for the Creating page.   On the In the Wild page:

Karina Twiss no longer seems to be using OSD on her site.  I've hidden her.
Maxotics' images on the link we have don't seem to work.  Replaced that link with a link to the DigiTiler gallery.
Sweden's National Museum is closed til fall 2018.  I've hidden the link to them, since their site is throwing 500 errors.
Family Sear

[2017-12-21 17:24] iangilman commented on #180
Linking to unmaintained projects is fine; maybe someone will pick up the torch. Do please take the "under construction" off of the node.js one.

Thanks for finding the "in the wild" links that are broken and hiding them!

The Swedish National Museum site is still working for me... Maybe the 500s were just a glitch?

We should hide Family Search, but it might be amusing to contact them and see if t

[2017-12-21 17:39] iangilman commented on #152
Looks like this has already been done!

[2017-12-21 17:39] #152 closed

[2017-12-22 22:40] iangilman commented on #180
This has been fixed by #179.

[2017-12-22 22:40] #180 closed

[2017-12-22 22:40] iangilman commented on #178
This has been fixed by #179.

[2017-12-22 22:40] #178 closed

[2017-12-22 22:40] iangilman commented on #168
This has been fixed by #179.

[2017-12-22 22:40] #168 closed

[2017-12-22 22:41] iangilman commented on #162
This has been fixed by #179.

[2017-12-22 22:41] #162 closed

[2017-12-22 22:41] iangilman commented on #66
This has been fixed by #179.

[2017-12-22 22:41] #66 closed

[2018-01-08 17:24] iangilman opened #183 "More "In the Wild""
http://200k.accaglobal.com/wall

Put it under "Industrial/Professional" (changing that category name).

[2018-01-08 17:35] gasi commented on #27
For completeness: Zoom.it / ZoomHub has a read-only API and support for consuming DZIs fully compatible with the old Zoom.it. Return of the submission UI and API is TBD.

[2018-01-09 00:44] iangilman opened #184 "Add a page that explains the various options for opening images"
See https://github.com/openseadragon/openseadragon/issues/898 for discussion.

[2018-01-09 19:48] iangilman commented on #27
@gasi Good point... Currently we have the Zoom.it page hidden (not linked from anywhere) but it still exists:

http://openseadragon.github.io/examples/tilesource-zoomit/

My feeling is it's not worth bringing back until submission is possible again, since presumably the people who are already using ZoomHub are already set up. What do you think?

[2018-01-09 19:49] gasi commented on #27
@iangilman Makes sense 👍

[2018-01-17 18:13] iangilman commented on #183
Awesome :)

[2018-01-29 22:11] iangilman commented on #183
Another:

https://www.theleidencollection.com/collection/

Example:

https://www.theleidencollection.com/leiden-viewer/cat-crouching-on-the-ledge-of-an-artists-atelier/

...or pick another, but it would be cool to have one that has the multiple image types:

<img width="139" alt="image" src="https://user-images.githubusercontent.com/338989/35537201-40e23baa-04fe-11e8-8b1e-a28816cc2b59.png">

[2018-02-01 17:10] iangilman commented on #183
Here's another possibility for Leiden:

https://www.theleidencollection.com/leiden-viewer/david-and-uriah/

[2018-02-04 19:49] iangilman commented on #183
Looks like the existing Project Zomboid link should be updated to http://map.projectzomboid.com/

[2018-02-06 17:26] iangilman commented on #183
Fixed by #185.

[2018-02-06 17:26] #183 closed

[2018-02-12 19:02] iangilman commented on #59
This is just an example project with some extra features, but i suppose it fits in with this group:

https://github.com/davidmcclure/osd-dzi-viewer

[2018-02-15 00:06] iangilman opened #186 "Link to people's examples for how to use OSD"
Here's one:

https://github.com/paksboda/OpenSeaDragonViewerSync

...and of course there's:

https://codepen.io/collection/APoyjJ/

I'm not sure the best way to present it or where to put it.

[2018-03-30 16:28] iangilman commented on #186
Here's another:

https://bl.ocks.org/fabiovalse/71bbbd5c87a148f1c7fabc97b0bbc980

...and @zloysmiertniy might make another as part of https://github.com/openseadragon/openseadragon/issues/1425

[2018-04-04 16:28] iangilman opened #190 "Add plugins to list"
https://github.com/harshalitalele/OpenSeadragonDraggableNavigator

[2018-06-10 01:10] iangilman opened #194 "yet more "in the wild""
https://benihassan.com/dictionary/Kanawati-Evans-BH1-Pl-07a-Beni-Hassan-Khnumhotep-II-Tomb-3-Chapel-Inscription-East-wall-Lower-section-Wall/

[2018-06-14 16:12] iangilman commented on #194
https://wellcomecollection.org/works/jgeykh4m or some related from that collection.

[2018-06-21 22:22] iangilman commented on #194
Wellcome collection has been added :)

[2018-07-10 03:29] iangilman commented on #194
http://beta.biblissima.fr/fr/ark:/43093/ifdata68b8958d6efb2c5b0d9e670d185dcd38a01b1f57

See https://twitter.com/biblissima/status/1016298710974820352

[2018-07-10 17:40] iangilman commented on #186
I wonder if there is a good way to collect a bunch of Bl.ocks together? Anyway, here's a search to find more:

https://www.google.com/search?q=openseadragon+site%3Abl.ocks.org

[2018-07-23 21:39] iangilman commented on #194
All of the "Sites Using Zoomable" listed here:

https://zoomable.ca/

[2018-07-27 22:56] kittarlin commented on #194
The best of the Zoomable sites are included.  I didn't include those that didn't have an OSD image above the fold.   The Biblissima site was already on the page.  Also, WebWallWhispers.  Embers and Beni Hassan links added.

[2018-07-27 23:01] kittarlin commented on #190
This is already on the Plugin list.

[2018-07-29 19:00] iangilman opened #200 "More "in the wild""
Starting a fresh issue since the last one is all sorted out.

First item:

https://www.webumenia.sk/en

[2018-07-30 23:25] iangilman commented on #190
Great, thanks for confirming!

[2018-07-30 23:25] #190 closed

[2018-08-22 16:50] #194 closed

[2018-09-29 19:19] iangilman commented on #200
https://exhibits.stanford.edu/

Examples:

https://exhibits.stanford.edu/warhol/catalog/yq190kx0340
https://exhibits.stanford.edu/parker/catalog/canvas-ae60c78957ade82a64713848715cc5dd

[2018-10-08 18:37] iangilman commented on #59
https://github.com/girder/large_image Uses OSD.

[2018-10-24 16:42] iangilman commented on #200
https://fredericlavigne.com/photography/seychelles/

[2018-11-12 19:59] iangilman commented on #200
https://www.artic.edu/collection

Example:

https://www.artic.edu/artworks/27992/a-sunday-on-la-grande-jatte-1884

[2018-12-21 19:21] iangilman commented on #59
https://github.com/subugoe/tify  Uses OSD.

[2018-12-21 19:30] iangilman commented on #59
https://beta.observablehq.com/@bertspaan/iiif-openseadragon

[2019-01-07 18:19] iangilman commented on #59
https://github.com/cuberis/openseadragon-curtain-sync

[2019-02-08 23:29] iangilman commented on #200
https://www.sitecenters.com/properties/the-pike-outlets

[2019-03-04 17:57] iangilman commented on #200
https://dnaskittle.com/ddvresults/hidden/Arabidopsis%20thaliana%20-%20chromosomes%20functions/

[2019-04-17 17:34] iangilman commented on #200
https://www.truedesign.it/en/lifespaces/

[2019-05-30 01:57] MaxwellTG commented on #200
I've sent a PR regarding https://github.com/openseadragon/site-build/issues/200#issuecomment-438009901.

[2019-06-16 21:14] iangilman commented on #200
https://rembrandtinsocal.org/

Example: https://rembrandtinsocal.org/virtual-exhibition/the-abduction-of-europa/

[2019-07-04 23:14] iangilman commented on #200
https://twitter.com/lesolorzanova/status/1146437938571382785

[2019-08-15 20:10] AKlein920 commented on #6
EarthCam's Public Player (custom media player created for EarthCam's camera content) - OSD is used to view megapixel archive images taken by cameras. My former team built a cool image comparison feature that can be activated by clicking the button on the lower right-hand side of the tool bar.

https://public.earthcam.net/earthcam/earthcampus/gigapixelcam_x1/view_1

@arfusop

[2019-08-16 18:59] iangilman commented on #200
@AKlein920 says "EarthCam's Public Player (custom media player created for EarthCam's camera content) - OSD is used to view megapixel archive images taken by cameras. My former team built a cool image comparison feature that can be activated by clicking the button on the lower right-hand side of the tool bar."

https://public.earthcam.net/earthcam/earthcampus/gigapixelcam_x1/view_1

[2019-08-16 19:00] iangilman commented on #6
@AKlein920 Cool! Thank you for adding this. I've posted it to the active version of this issue:

https://github.com/openseadragon/site-build/issues/200#issuecomment-522116595

At some point someone will hopefully get around to updating the "in the wild" page from that issue. If you want to make it happen sooner for your project, feel free to make a PR against this file:

https://github.com/opensea

[2019-08-17 23:34] iangilman commented on #200
http://kimlab.io/brain-map/OTR/

[2019-08-17 23:34] iangilman commented on #200
http://walterbobrowski.com/Virtual_EM.html

[2019-08-17 23:57] iangilman commented on #200
http://vitessce.io/

http://vitessce.io/?dataset=linnarsson-2018

http://vitessce.io/prod-docs/index.html

[2019-08-23 17:23] iangilman commented on #200
https://free.greatbasinforensics.com/Submission/View/5

https://greatbasinforensics.com/

[2019-09-08 20:53] iangilman commented on #200
https://wdaull.ds-innovation-experiments.com/

 related info: https://figshare.com/articles/What_Does_a_University_Look_Like_/9742055

[2019-10-21 18:50] iangilman commented on #200
https://www.muensterschatz.ch/de/Kasten-1894.174.html

[2019-10-26 00:23] iangilman commented on #200
https://www.cycif.org/osd-exhibit

[2019-10-29 20:43] iangilman commented on #200
https://farverona.742617000027.de/

For context, see: https://github.com/openseadragon/openseadragon/issues/1726

[2019-12-02 01:49] iangilman commented on #200
https://dh-web.hss.cmu.edu/nga/essay

[2019-12-11 22:32] iangilman commented on #200
https://youtu.be/6iK4GNivHJw?t=40

[2020-02-09 00:13] iangilman commented on #200
https://www.eso.org/public/images/

For example:

https://www.eso.org/public/images/eso1242a/zoomable/

[2020-02-09 00:17] iangilman commented on #200
https://www.zeit.de/politik/ausland/2020-01/brexit-britische-tabloids-grossbritannien-zeitungen-titelbilder

[2020-02-09 00:57] iangilman opened #216 "more "creating zooming images""
https://metabotnik.com/help/about

[2020-02-14 18:38] iangilman commented on #200
"Sites using Zoomable" probably includes some items we're not listing:

https://zoomable.ca/

[2020-02-28 04:29] iangilman commented on #200
https://www.si.edu/openaccess

For instance:

https://www.si.edu/object/npg_NPG.74.75

[2020-02-28 04:38] iangilman commented on #200
https://panflights.com/

For example:

https://panflights.com/?type=ani&trip=0.0l1l0l0l156l-3i2l3l1l5144l1815l20j3l4l2l185l310l2i4l5l3l3750l135l-2j5l6l3l65l260l-2i6l7l4l8250l180l0i8l9l5l8115l380l-4j9l10l5l50l30l-1i10l11l6l5410l115l0j11l12l7l215l110l0i13l14l8l7290l175l-6i15l0l9l4830l189l-3.laxogghnlsydaklmeldpskulbkkheloslbrugrobcnjfkewr.dljqnzqfqgayskfrdyua.26649610

[2020-03-08 21:15] iangilman commented on #200
http://labs.statsbiblioteket.dk/juxta/subject208/

https://twitter.com/TokeEskildsen/status/1236391719983292417

[2020-04-06 16:47] iangilman commented on #200
https://www.slam.org/explore-the-collection/modern-thought-and-catholicism/?pg=0

[2020-04-16 18:22] iangilman commented on #216
https://www.iiifhosting.com/
https://www.iiifserver.com/

@klokan would you be interested in having these added to http://openseadragon.github.io/examples/creating-zooming-images/? If so, you could make a request to https://github.com/openseadragon/site-build/blob/master/www/creating-zooming-images.html. Otherwise hopefully someone will get around to it…

[2020-04-16 21:20] iangilman opened #219 "New plug-ins"
https://choikyusu.github.io/OpenSeadragonAnnotationPaperjsOverlay/annotation.html

https://choikyusu.github.io/openseadragonHeatmapjsOverlay/views/heatmap.html

[2020-04-17 21:49] iangilman commented on #200
https://www.feynmanlectures.caltech.edu/
https://www.feynmanlectures.caltech.edu/RPF_2_4_A_40_3.html
https://www.feynmanlectures.caltech.edu/flpphotos.html#S24

[2020-04-20 21:36] iangilman commented on #200
https://kimlab.io/brain-map/OTR/

[2020-05-06 17:33] iangilman commented on #200
http://scopeseducation.org/madm/

[2020-05-26 16:48] iangilman commented on #200
http://hyper-resolution.org/Nightwatch

[2020-06-23 17:52] iangilman commented on #200
For the tools section:

https://github.com/dmattek/dzPlateViewer

[2020-06-29 05:09] iangilman commented on #200
Tools:

https://ncsu-libraries.github.io/annona/

[2020-06-30 17:31] iangilman commented on #200
https://www.haltadefinizione.com/en/image-bank/leonardo-da-vinci-last-supper/

[2020-07-10 00:28] iangilman commented on #200
https://iamebook.com/

For example:

https://iamebook.com/book/read/oliver-twist/p-1/

[2020-07-18 21:27] iangilman commented on #200
https://www.getty.edu/art/

For example:

https://www.getty.edu/art/collection/objects/226430/peter-paul-rubens-the-calydonian-boar-hunt-flemish-about-1611-1612/

[2020-07-18 21:33] iangilman commented on #200
https://closelook.brightonmuseums.org/

For example:

https://closelook.brightonmuseums.org/category/collections/fine-art/

[2020-07-24 17:01] iangilman commented on #200
http://insidebruegel.net/

For example:

http://insidebruegel.net/#p/v=udroom&lan=en&a=1026&x=s:3_l:6_v1:1026,vis_v2:1026,ir_v3:1026,irr_v4:1026,xrr

[2020-07-28 16:54] iangilman commented on #59
https://github.com/dmattek/dzPosters

[2020-08-04 16:54] iangilman commented on #200
http://lakeshoredigitalart.com/virtual_watercolors.html

[2020-08-04 16:55] iangilman commented on #200
https://rosphoto.org/visit-online/virtual-exhibitions/lico-blokady/

https://rosphoto.org/visit-online/virtual-exhibitions/berlin-may/

[2020-08-12 18:02] iangilman opened #226 "Make mobile friendly version?"
The OpenSeadragon site is kind of anachronistic at this point, with its desktop-only presentation. OpenSeadragon itself supports mobile just fine, so maybe our site should as well?

In particular, if you come to our site trying to see how OpenSeadragon performs on mobile, you might be disappointed, because it doesn't perform as well on our scaled-down desktop site as it would on a regular mobile s

[2020-08-12 18:37] msalsbery commented on #226
Just mentioning this because it’s my go-to stack currently...

React with react-bootstrap makes responsive design a no-brainer for even a non-frontend dev like me ;)

[2020-08-12 18:39] msalsbery commented on #226
Love the idea though!

What I dread is doing the same to the jsdoc-generated documentation as well. There may be some more modern template boilerplate around online however...

[2020-08-18 19:18] msalsbery commented on #226
Ha! Not one comment ;) React not really appropriate for the site, but I do find Bootstrap makes responsive design pretty easy...

[2020-08-26 23:14] iangilman commented on #226
😄 I dunno… I'm pretty agnostic about how it's put together (though I wouldn't want it to end up looking like a generic Bootstrap site). React is probably more trouble than it's worth, since it's not really a dynamic site, so you'd be adding a bunch of extra code to your HTML for no reason.

I figure if we're going to do a site redesign it's going to be a good deal of work, so I want it to be:

* P

[2020-08-26 23:31] msalsbery commented on #226
@iangilman

Yeah, the more I think about it, even Bootstrap is overkill. What I like about Bootstrap goes with working with React - for SPAs. When I look at the CSS that just applies to responsive design, it’s easier to use straight CSS

[2020-09-02 16:30] iangilman commented on #200
https://www.aidsmemorial.org/interactive-aids-quilt

[2020-10-24 18:03] iangilman commented on #200
https://themirror.hemelliggaam.com/mirror.html

https://twitter.com/nicgrobler/status/1318907989185748998

[2021-01-08 21:07] iangilman commented on #200
Using OpenSeadragon to display 100+ gigapixel electron microscopy images of meteorites:

https://presolar.physics.wustl.edu/meteorite-deep-zoom/

https://presolar.physics.wustl.edu/maps/Acfer182_X.html

[2021-01-21 22:55] iangilman commented on #200
https://www.nytimes.com/interactive/2021/01/21/us/politics/biden-inauguration-attendees.html

[2021-02-17 17:40] iangilman commented on #200
https://www.bayeuxmuseum.com/en/the-bayeux-tapestry/discover-the-bayeux-tapestry/explore-online/

[2021-02-27 02:50] iangilman commented on #200
https://mars.nasa.gov/news/8873/nasas-perseverance-rover-gives-high-definition-panoramic-view-of-landing-site/

[2021-02-27 03:19] msalsbery commented on #200
Excellent, I saw that when it was published and still have it open in a browser tab!

[2021-02-27 18:53] iangilman commented on #200
Pretty awesome to have a high-res color panorama from Mars! And of course I'm delighted that they are using our tech to display it :-)

[2021-03-09 21:27] iangilman commented on #200
https://thesassyapple.com/pages/the-sassy-apple-charms-gallery

[2021-03-09 21:28] iangilman commented on #216
https://exchange.adobe.com/creativecloud.details.105823.zoomable-for-adobe-photoshop.html

[2021-03-10 19:22] iangilman commented on #200
https://the-iron-road.com/

[2021-03-17 17:01] iangilman commented on #200
https://www.artworksforchange.org/

E.g. https://www.artworksforchange.org/portfolio/nrdc-featured-tour/

[2021-03-23 22:57] iangilman commented on #200
https://www.learnhaem.com/courses/frcpath-morph/lessons/acute-myeloid-leukaemia/topic/aml-m1/

[2021-04-19 02:23] iangilman commented on #200
https://artgif.netlify.app/

Info: https://blog.cogapp.com/esartgif-animate-collection-images-for-fun-and-profit-f4fc3c3cdea

[2021-04-19 02:56] iangilman commented on #200
https://www.driftory.com/

[2021-04-19 02:58] iangilman commented on #200
https://www.letsfathom.com/

[2021-06-14 20:55] iangilman commented on #216
https://github.com/dblock/dzt

[2021-06-25 04:07] iangilman commented on #200
https://gothamist.com/news/mapping-clusters-nypd-officers-repeatedly-accused-misconduct

[2021-07-14 23:12] iangilman commented on #200
https://www.eighteenthcenturypoetry.org/

E.g. https://www.eighteenthcenturypoetry.org/works/pik94-w0200.shtml#image

[2021-08-13 18:38] iangilman opened #243 "Explain zoom levels"
Particularly the difference between viewport zoom levels and image zoom levels. This seems like a reasonable page to do it on:

https://openseadragon.github.io/examples/viewport-coordinates/

Here's something I wrote up recently that can get us started:

There are 3 different systems of zoom levels at work... there's the tile levels (if you're using something like DZI), the viewport zoom, and the

[2021-09-01 18:30] iangilman commented on #200
https://artemis-collection.com/showcase/ultra-zoom/

[2021-10-15 03:34] iangilman commented on #200
https://sims2.digitalmappa.org/36

[2021-10-15 03:56] iangilman commented on #200
https://labs.onb.ac.at/static/media/donau_viewer/

Info: https://labs.onb.ac.at/en/topic/pasetti-digital/

[2021-11-23 22:09] iangilman opened #245 "Add a link to "Recipes""
...maybe in the features area? Or also in the docs?

https://codepen.io/collection/APoyjJ/

[2021-12-01 19:39] #245 closed

[2022-01-13 19:52] iangilman opened #250 "Add an FAQ?"
That might be the right place for the tile seam fix (see discussion at https://github.com/openseadragon/openseadragon/discussions/2085#discussioncomment-1957842), and I'm sure there are others.

[2022-03-01 17:29] iangilman commented on #200
The Book of Kells at Trinity College in Dublin: https://digitalcollections.tcd.ie/concern/works/hm50tr726

[2022-06-18 20:33] iangilman commented on #200
https://www.andrewbrooksartist.com/zoomhub

[2022-07-05 21:26] iangilman commented on #200
https://bge-geneve.ch/iconographie/oeuvre/vg-n09x12-04209

[2022-11-04 21:03] iangilman opened #264 "Polygon cropping demo is broken"
https://openseadragon.github.io/examples/ui-tiledimage-polygon-cropping/ doesn't work, and you get these errors in the console:

<img width="749" alt="image" src="https://user-images.githubusercontent.com/338989/200074224-30a0a971-175e-4441-b46f-96a0fe0d0314.png">